// Bouton du menu
.menu-btn{
  position: absolute;
  z-index: 3;
  top: 35px;
  right: 35px;

  cursor: pointer;

  @include easeOut;

  .btn-line{
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;

    background: set-text-color($primary-color);

    @include easeOut;
  }

  // Rotation des lignes du menu en X
  &.close{
    transform: rotate(180deg);

    .btn-line{
      //Ligne 1 - Rotation
      &:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
      }

      //Ligne 2 - Cacher
      &:nth-child(2){
        opacity: 0;
      }

      //Ligne 3 - Rotation
      &:nth-child(3){
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu overlay
.menu{
  position: fixed;
  top: 0;

  visibility: hidden;

  width: 100%;

  opacity: 0.9;

  &.show{
    visibility: visible;
  }

  &-branding,
  &-nav{
    display: flex;
    float: left;
    overflow: hidden;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;

    width: 50%;
    height: 100vh;
  }

  &-nav{
    margin: 0;
    padding: 0;

    list-style: none;

    transform: translate3d(0, -100%, 0);

    background: darken($primary-color, 5);

    @include easeOut;

    &.show{
      //Slide in from top
      transform: translate3d(0,0,0);
    }
  }

  &-branding{
    transform: translate3d(0, 100%, 0);

    background: $primary-color;

    @include easeOut;

    &.show{
      //Slide in from bottom
      transform: translate3d(0,0,0);
    }

    .portrait{
      width: 250px;
      height: 250px;

      border: solid 3px $secondary-color;
      border-radius: 50%;
      background: url('../img/portrait.jpg');
    }
  }

  .nav-item{
    transform: translate3d(600px, 0, 0);

    @include easeOut;

    &.show{
      //Slide in from right
      transform: translate3d(0,0,0);
    }

    &.current > a{
      color: $secondary-color;
    }
  }

  .nav-link{
    position: relative;

    display: inline-block;

    padding: 1rem 0;

    text-decoration: none;
    text-transform: uppercase;

    color: set-text-color($primary-color);

    font-size: 30px;
    font-weight: 300;

    @include easeOut;

    &:hover{
      color: $secondary-color;
    }
  }
}

// Délai des items de la nav par 0.1s
@for $x from 1 through 4{
  .nav-item:nth-child(#{$x}){
    transition-delay: $x * 0.1s
  }
}
